$parent: 'section';

.#{$parent} {
  align-items: center;
  border: 1px solid $color-grey-light;
  border-radius: 4px;
  display: flex;
  margin-top: 0.4rem;
  padding: 0.4rem;
  width: 100%;

  &__caption {
    width: 35%;
  }

  &__items {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button-control {
    display: none;
  }

  &__item_first {
    .#{$parent}__button-control {
      align-self: flex-end;
      display: flex;
    }
  }
}
