mixin section(options = {})
    -
        let {classNames = [], items = [], label} = options;
    .section(
        class=classNames
    )   
        +label(label, 'section__label')
        .section__items
            each item, key  in items
                .section__item
                    -
                        let { type = '', control } = item || {};
                        if (control)
                            item.key = `${key}:`;
                    case type
                        when 'text'
                        when 'checkbox'
                        when 'number'
                            +input(item)
