$parent: 'input';

.#{$parent} {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.4rem 0;

  &_control {
    flex-direction: row;
    .#{$parent}__label,
    .#{$parent}__link {
      display: none;
      margin-bottom: 0;
    }
  }

  &_first {
    flex-direction: column;

    .#{$parent}__label,
    .#{$parent}__link {
      display: inherit;
      margin-bottom: 0.4rem;
    }
  }

  &__section {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    width: 100%;
  }

  &__section-key {
    margin-right: 0.4rem;
  }

  &__label,
  &__link {
    margin-bottom: 0.4rem;
  }

  &__input {
    cursor: pointer;
    padding: 0.2rem;
    width: 100%;
    cursor: pointer;

    &[type='checkbox'] {
      margin: 0;
      width: auto;
    }

    &:focus {
      outline: none;
    }
  }

  &__button-control {
    margin-left: 0.4rem;
  }
}
