$parent: 'input';

.#{$parent} {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.4rem 0;

  &__section {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    width: 100%;
  }

  &__label,
  &__link {
    margin-bottom: 0.4rem;
  }

  &__input {
    cursor: pointer;
    padding: 0.2rem;
    width: 100%;
    cursor: pointer;

    &[type='checkbox'] {
      margin: 0;
      width: auto;
    }

    &:focus {
      outline: none;
    }
  }
}
