mixin slider(options = {})
    -
        let {classNames = []} = options;
        classNames = classNames.join(' '); 
    .slider(
        class=classNames
    )
        .slider__dummy.js-slider__dummy