include ../link/link

mixin panel(props = {})
    -
        let { sections = [], link } = options;
        let className = 'panel';
        let classNames = `${className}`;
    div(
        class=classNames
    )
        .panel__head
            +link(link)
        .panel__sections
            each section in sections
                +section(section)

