mixin panel(options={})
    -
        let { classNames = [], sections = [], label} = options;
        classNames = classNames.join(' ');
    .panel(
        class=`${classNames}`
    )
        +label(label, 'panel__label')
        .panel__sections
            each section, key in sections
                +section(section)

