.panel {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  flex-direction: column;

  flex-shrink: 0;
  max-width: 400px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 1rem;

  &__head {
    text-align: center;
  }

  &__sections {
    width: 100%;
  }
}
