mixin caption(props = {})
    -
        let { content } = props;
        let className = 'caption';
        let classNames = `${className}`;
    div(
        for=id
        class=classNames
    )
        span(
            class=`${className}__content`
        )=content
