mixin example(options = {})
    -
        let { label = {}, classNames = [], panel = {}, slider = {} } = options;
        classNames = classNames.join([' ']);
    //
        data-options=options
    .example.js-example(
        class=classNames
    )
        +label(label, 'example__label')    
        +panel(panel)
        +slider(slider)
        
        
        

