mixin example(options = {})
    -
        let { label = {}, classNames = [], panel = {}, slider = {} } = options;
        classNames = classNames.join([' ']);
    .example.js-example(
        class=classNames
    )
        +label(label, 'example__label')
        .example__body    
            +panel(panel)
            +slider(slider)
        
        
        

