include ../caption/caption
include ../panel/panel
include ../slider/slider

mixin example(props = {})
    -
        let { caption, panel, slider } = props;
    .example.js-example
        .example__head
            +caption(caption)
        .example__body    
            +panel(panel)
            +slider(slider)
        
        
        

