mixin example(options = {})
    - let { title = '', classNames = [], panel = {}, slider = {} } = options;
    .example.js-example(
        class=`${classNames}`
        data-options=options
    )
        if (title)
            .example__title.title=title
        +panel(panel)
        +slider(slider)
        
        
        

