mixin example(options = {})
    - let { label = {}, classNames = [], panel = {}, slider = {} } = options;
    .example.js-example(
        class=`${classNames}`
        data-options=options
    )
        +label(label, 'example__label')    
        +panel(panel)
        +slider(slider)
        
        
        

