include label/label
include link/link

mixin example(props = {})
    -
        let { label, panel, slider, link } = props;
    .example.js-example
        if label
            +label(label)
        if link
            +link(link)
        .example__body    
            +panel(panel)
            +slider(slider)
        
        
        

