$parent: 'values';

.#{$parent} {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;

  &__control-items,
  &__items {
    margin: 0;
    padding: 0;
  }

  &__control-items {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0.4rem 0;
  }

  &__control-item {
    margin-left: 0.4rem;

    &:first-child {
      margin-left: initial;
    }
  }

  &__items {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    min-width: 0;
  }

  &__label,
  &__link {
    margin-bottom: 0.4rem;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;
  }
}
