$parent: 'button';

.#{$parent} {
  cursor: pointer;
  height: 1.785rem;
  min-height: 1.785rem;
  min-width: 1.785rem;
  width: 1.785rem;

  &_control {
    display: flex;
  }

  &__content {
    align-items: center;
    display: inline-flex;
    font-size: 0.7rem;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
