mixin button(options = {})
    -
        let {classNames=[], type='button', content, data = {}} = options;
        classNames = (classNames || []).join(' '); 
    .button(
        class=classNames
    )
        if (content) 
            button.button__button(
                type=type
                data=data
            )
                span.button__content !{content}