html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #7f7f7f;
  font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-feature-settings: 'tnum', 'tnum';
  font-variant: tabular-nums;
  font-size: 14px;
}

*,
::after,
::before {
  box-sizing: border-box;
}
