include ./components/label/label
include ./components/button/button
include ./components/input/input
include ./components/section/section
include ./components/panel/panel
include ./components/slider/slider
include ./components/example/example
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Demo sliders
    body
        -
            let data = htmlWebpackPlugin.options.getData();
        +example(data.example1)
