@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@mixin linear-gradient($degrees, $top-color, $bottom-color, $opacity) {
  background: linear-gradient(
    $degrees,
    rgba($top-color, $opacity) 0%,
    rgba($bottom-color, $opacity) 100%
  );

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#{rgba($top-color, $opacity)}', endColorstr='#{rgba($bottom-color, $opacity)}', GradientType=0); /* IE6-9 */
}

$dark: rgba(31, 32, 65, 1);
$dark25: rgba(31, 32, 65, 0.25);
$green-light: #6fcf97;
$blue-light: #66d2ea;

$prefixClass: 'fsd-slider';

$disabledColor: #ccc;
$border-radius-base: 6px;

$primary-gradient: linear-gradient(180deg, $green-light 0%, $blue-light 100%);

$primary-color: $green-light;
$second-color: $blue-light;
$third-color: $dark;
$fourth-color: $dark25;
$fifth-color: #6ad0c4;

$tooltip-color: #fff;
$tooltip-bg: tint(#666, 4%);
$tooltip-arrow-width: 4px;
$tooltip-distance: $tooltip-arrow-width + 4;
$tooltip-arrow-color: $tooltip-bg;
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);

@mixin borderBox() {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.#{$prefixClass} {
  @include borderBox();

  border-radius: $border-radius-base;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 14px;
  padding: 5px 0;
  position: relative;
  touch-action: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  width: 100%;

  * {
    outline: none;
  }

  &__rail {
    background-color: #e9e9e9;
    border: 1px solid $dark25;
    border-radius: $border-radius-base;
    box-sizing: border-box;
    height: 6px;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &__track {
    @include linear-gradient(180deg, $primary-color, $second-color, 60);

    border-radius: $border-radius-base;
    height: 6px;
    left: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }

  &__handle {
    background: $primary-gradient;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    margin-top: -4px;
    position: absolute;
    touch-action: pan-x;
    width: 14px;
    z-index: 2;

    &.#{$prefixClass}__handle_active {
      border-color: transparent;
      z-index: 100 !important;

      .#{$prefixClass}__tooltip {
        z-index: 100;
      }
    }
  }

  &__handle:hover {
    .#{$prefixClass}__tooltip {
      display: block;
    }
  }

  &__tooltip {
    background-color: #e4e4e4;
    border-radius: 4px;
    bottom: 150%;
    color: #4c4c4c;
    display: none;
    left: 50%;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;

    span {
      vertical-align: middle;
      white-space: nowrap;
    }

    &_always {
      display: block;
    }
  }

  &__marks {
    background: transparent;
    pointer-events: none;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 2;
  }

  &__mark {
    background: transparent;
    color: #6b6b6b;
    cursor: pointer;
    font-size: 13px;
    pointer-events: initial;
    position: absolute;
    vertical-align: middle;
    white-space: nowrap;
  }

  &__dots {
    background: transparent;
    height: 5px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__dot {
    background-color: #fff;
    border: 2px solid $fifth-color;
    border-radius: 50%;
    bottom: -2px;
    cursor: pointer;
    height: 8px;
    pointer-events: initial;
    position: absolute;
    vertical-align: middle;
    width: 8px;
  }

  &__dot_active {
    background-color: $fifth-color;
  }

  &__dot_reverse {
    margin-right: -4px;
  }

  &_disabled {
    .#{$prefixClass}__track {
      background: $disabledColor;
    }

    .#{$prefixClass}__handle,
    .#{$prefixClass}__dot {
      background: #fff;
      border-color: $disabledColor;
      box-shadow: none;
      cursor: not-allowed;
    }

    .#{$prefixClass}__mark,
    .#{$prefixClass}__dot {
      cursor: not-allowed !important;
    }
  }
}

.#{$prefixClass}_vertical {
  height: 100%;
  padding: 0 5px;
  width: 14px;

  .#{$prefixClass} {
    &__rail {
      height: 100%;
      width: 6px;
    }

    &__track {
      bottom: 0;
      left: 5px;
      width: 6px;
    }

    &__handle {
      margin-left: -4px;
      touch-action: pan-y;
    }

    &__mark {
      left: 18px;
      top: 0;
    }

    &__step {
      height: 100%;
      width: 4px;
    }

    &__dot {
      left: -1px;
      margin-bottom: 0;

      &:first-child {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__dots,
    &__marks {
      height: 100%;
    }

    &__marks {
      bottom: 0;
      top: 0;
    }

    &__tooltip {
      bottom: initial;
      left: 0;
      transform: translate(-125%, -25%);
    }
  }
}
